
h2{
    font-size: 23px;
    font-weight: 500;
    text-transform: uppercase;
    color: $color-primary;
    margin: 20px 20px 10px;
    letter-spacing: 1px;
}
.portlet{
    background-color: #fff;
    margin: 10px 20px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(#ccc, 0.5);
    overflow: hidden;
    .portlet-title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 0 1px rgba(#ccc, 0.7);
        h4{
            font-size: 18px;
            padding: 0 15px;
            margin: 0;
            color: $color-primary;
        }
        .actions{
            justify-items: flex-end;
        }
        [aria-expanded="false"] {
            i:before{
                content: "\f065";
            }
        }
    }
    .portlet-body {
        padding: 15px;
        .action-buttons{
            display: flex;
            width: 100%;
            justify-content: flex-end;
            align-items: center;
            padding: 0 15px;
        }
    }
}
.grid-view{
    .summary{
        padding: 15px;
        font-size: 13px;
    }
}
.table{
    th{
        color: $color-primary;
        font-weight: 500;
        .asc, .desc {
            &:after {
                font-family: FontAwesome;
                margin-left: 5px;
            }
        }
        .asc:after {
            content: "\f106";
        }
        .desc:after {
            content: "\f107";
        }
    }
}

//.form-group{
//    margin-bottom: 15px;
//    position: relative;
//    &.has-error{
//        .form-control{
//            border-color: red;
//        }
//    }
//    .control-label{
//        margin-bottom: 3px;
//    }
//    .help-block{
//        color: red;
//        font-size: 12px;
//        margin: 5px 0 0;
//        &:empty{
//            display: none;
//        }
//    }
//}
#gallery-application{
    overflow: auto;
    padding: 10px 0;
    label{
        float: left;
        width: 49%;
    }
}
.user-form table tr td{
    padding: 0;
    .input-group{
        position: relative;
        padding-right: 10px;
        .input-group-addon{
            position: absolute;
            right: 20px;
            top: 10px;
            z-index: 1;
        }
    }
}
