.support-config{
    margin: 0;
    list-style: none;
    padding: 0;
    width: 100%;
    li{
        margin-bottom: 10px;
        padding-top: 10px;
        padding-left: 15px;
        padding-right: 15px;
        &:nth-child(odd) {
            background-color: #f9f9f9;
        }
    }
    .sortable-placeholder{
        border: 1px dashed #ccc;
        height: 95px;
    }
}
.price-zone{
    strong{
        display: block;
        text-align: right;
        margin-top: 26px;
    }
}

.general-info .action-buttons{
    @include clearfix;
    margin: 20px;
}
.feature-products .action-buttons{
    @include clearfix;
    margin: 20px 0 0;
}
.system {
    .field-content-content,
    .field-content-summary {
        .control-label {
            display: none;
        }
    }
}
.slide-content,
.banner-content {
    .image img {
        height: 100px;
        margin-right: 10px;
    }
    button{
        padding: 5px 18px;
        color: white;
    }
}
.form-group-enabled{
    margin-top: 20px;
}
